html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-perspective: 0;
    perspective: none;
    overflow: hidden;
    background-color: #333;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.Scores {
    padding: 1rem;
}

.Dot {
    cursor: cell;
}

.Dot:active {
    cursor: crosshair;
}

.interactive {
    cursor: pointer;
}
